﻿@model Doctors.ViewModels.AppointmentViewModels.BookViewModel

@{
    ViewData["Title"] = "Appointment";
}


@{

}

<div class="container">
    <div class="row">
        <div class="col-md-6 col-center">
            @if (Model.Success)
            {
                <div class="alert alert-success">
                    <strong>Success!</strong> Appointment successfully booked!
                </div>
            }
            <h2>@ViewData["Title"]</h2>
            <form method="post" asp-action="Book" asp-controller="Appointment">

                <div class="form-group">
                    <label asp-for="DoctorId"></label>
                    <select asp-for="DoctorId" asp-items="@Model.Doctors" class="form-control"></select>
                    <span asp-validation-for="DoctorId" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="PatientId"></label>
                    <select asp-for="PatientId" asp-items="@Model.Patients" class="form-control"></select>
                    <span asp-validation-for="PatientId" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="TimesId"></label>
                    <select asp-for="TimesId" asp-items="@Model.Times" class="form-control"></select>
                    <span asp-validation-for="TimesId" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="DayId"></label>
                    <select asp-for="DayId" asp-items="@Model.Days" class="form-control"></select>
                    <span asp-validation-for="DayId" class="text-danger"></span>
                </div>


                <div asp-validation-summary="All" class="text-danger"></div>

                <button type="submit" class="btn btn-primary pull-right">Add</button>
                <a class="btn btn-default pull-left" asp-action="Index">Back</a>


            </form>
        </div>
    </div>
</div>


@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
