﻿@model Doctors.ViewModels.AppointmentViewModels.AppointmentsListViewModel

@if (Model.Appointments.Count() == 0)
{

    <div class="col-md-6 col-center">
        <h1>Doctors</h1>
        <div class="row">
            <div class="col-md-12 form-group">
                <a asp-action="Book" class="btn btn-primary pull-right">Add</a>
            </div>
        </div>
        <div class="panel panel-danger">
            <div class="panel-heading">Appointments</div>
            <div class="panel-body">There are current no appointments added, please add at least one</div>
        </div>

    </div>
}
else
{

    <h2>@ViewData["Title"]</h2>
    <div class="row">
        <div class="col-md-4">
            <section>

                <table class="table">
                    <tr>
                        <th>Id</th>
                        <th>Date</th>
                        <th>Time</th>
                        <th>Book</th>
                    </tr>
                    @foreach (var item in Model.Appointments)
                    {

                        <tr>
                            <td><a asp-action="Book" asp-route-userame="@item.Id" asp-route-date="@item.Day" asp-route-time="@item.Time"> Book</a></td>
                            <td>@item.Day</td>
                            <td>@item.Time</td>
                        </tr>
                    }

                </table>

            </section>
        </div>
    </div>

}

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
