﻿@model Doctors.ViewModels.UserRoleViewModels.AddUserRoleViewModel

@{
    ViewData["Title"] = "Add";
}


@{

}

<div class="container">
    <div class="row">
        <div class="col-md-6 col-center">
            @if (Model.Success)
            {
                <div class="alert alert-success">
                    <strong>Success!</strong> User role successfully added!
                </div>
            }
            <h2>@ViewData["Title"]</h2>
            <form method="post" asp-action="Add" asp-controller="UserRole">

                <div class="form-group">
                    <label asp-for="UserId"></label>
                    <select asp-for="UserId" asp-items="@Model.Users" class="form-control"></select>
                    <span asp-validation-for="UserId" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="RoleId"></label>
                    <select asp-for="RoleId" asp-items="@Model.Roles" class="form-control"></select>
                    <span asp-validation-for="RoleId" class="text-danger"></span>
                </div>


                <div asp-validation-summary="All" class="text-danger"></div>

                <button type="submit" class="btn btn-primary pull-right">Add</button>
                <a class="btn btn-default pull-left" asp-action="Index">Back</a>


            </form>
        </div>
    </div>
</div>


@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
