﻿@model Doctors.ViewModels.UserRoleViewModels.UserRolesListViewModel

@if (Model.UserRoles.Count() == 0)
{

    <div class="col-md-6 col-center">
        <h1>User Roles</h1>
        <div class="row">
            <div class="col-md-12 form-group">
                <a asp-action="Add" class="btn btn-primary pull-right">Add</a>
            </div>
        </div>
        <div class="panel panel-danger">
            <div class="panel-heading">User Roles</div>
            <div class="panel-body">There are current no services added, please add at least one</div>
        </div>

    </div>
}
else
{
    <div class="row">
        <div class="col-md-6 col-center">
            <h1>User Roles</h1>

            @if (Model.Success == true)
            {
                <div class="alert alert-success">
                    <strong>Success!</strong> User successfully delete!
                </div>
            }


            <div class="row  form-group">
                <div class="col-md-12">
                    <div class="pull-right">
                        <a asp-action="Add" class="btn btn-primary">Add</a>
                    </div>
                </div>
            </div>

            <div class="">

                <table class="table">
                    <thead>
                        <tr>
                            <th>User</th>
                            <th>Role</th>
                        </tr>
                    </thead>
                    <tbody>


                        @foreach (var userRole in Model.UserRoles)
                        {
                            <tr>
                                <td>
                                    <a asp-action="Edit" asp-route-username="@userRole.UserName" asp-route-rolename="@userRole.RoleName"> @Html.DisplayFor(modelItem => userRole.UserName)</a>
                                </td>

                                <td>
                                    <a asp-action="Edit" asp-route-username="@userRole.UserName" asp-route-rolename="@userRole.RoleName"> @Html.DisplayFor(modelItem => userRole.RoleName)</a>
                                </td>
                            </tr>
                        }


                    </tbody>
                </table>
            </div>
        </div>
    </div>
}


