﻿@model Doctors.ViewModels.UserViewModels.UserListViewModel


@if (Model.Users.Count() == 0)
{

    <div class="col-md-6 col-center">
        <h1>Users</h1>
        <div class="row">
            <div class="col-md-12 form-group">
                <a asp-action="Add" class="btn btn-primary pull-right">Add</a>
            </div>
        </div>
        <div class="panel panel-danger">
            <div class="panel-heading">Users</div>+
            <div class="panel-body">There are current no users added, please add at least one</div>
        </div>

    </div>
}
else
{
    <h2>@ViewData["Title"]</h2>
    <div class="row">
        <div class="col-md-4">
            <section>

                <table class="table">
                    <tr>
                        <th>Username</th>
                        <th>Email</th>
                        <th>Phone Number</th>
                    </tr>

                    @foreach (var item in Model.Users)
                    {

                        <tr>
                            <td><a asp-action="Edit" asp-route-userame="@item.UserName"> @item.UserName</a></td>
                            <td>@item.Email</td>
                            <td>@item.PhoneNumber</td>
                        </tr>
                    }

                </table>

            </section>
        </div>
    </div>

}


@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
