﻿@model Doctors.ViewModels.PatientViewModels.PatientsListViewModel

@if (Model.Patients.Count() == 0)
{

    <div class="col-md-6 col-center">
        <h1>Patients</h1>
        <div class="row">
            <div class="col-md-12 form-group">
                <a asp-action="Add" class="btn btn-primary pull-right">Add</a>
            </div>
        </div>
        <div class="panel panel-danger">
            <div class="panel-heading">Patients</div>
            <div class="panel-body">There are current no patients added, please add at least one</div>
        </div>

    </div>
}
else
{

    <h2>@ViewData["Title"]</h2>
    <div class="row">
        <div class="col-md-4">
            <section>

                <table class="table">
                    <tr>
                        <th>Name</th>
                        <th>Address</th>
                        <th>Phone Number</th>
                    </tr>
                    @foreach (var item in Model.Patients)
                    {

                        <tr>
                            <td><a asp-action="Edit" asp-route-userame="@item.Name"> @item.Name</a></td>
                            <td>@item.Address</td>
                            <td>@item.Phone</td>
                        </tr>
                    }

                </table>

            </section>
        </div>
    </div>
}


@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
