﻿@model MVC.ViewModels.RoleViewModels.AddRoleViewModel

@{
    ViewData["Title"] = "Add";
}


<div class="row">
    <div class="col-md-6 col-center">
        @if (Model.Success)
        {
            <div class="alert alert-success">
                <strong>Success!</strong> Role successfully added!
            </div>
        }
        <h2>@ViewData["Title"]</h2>
        <form method="post">

            <div class="form-group">
                <label asp-for="Name"></label>
                <input asp-for="Name" class="form-control" placeholder="Role name"/>
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div asp-validation-summary="All" class="text-danger"></div>

            <button type="submit" class="btn btn-primary pull-right">Add</button>
            <a class="btn btn-default pull-left" asp-action="Index">Back</a>


        </form>
    </div>
</div>


@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
