﻿@model MVC.ViewModels.RoleViewModels.EditRoleViewModel

@{
    ViewData["Title"] = "Edit";
}



<div class="container">
    <div class="row">
        <div class="col-md-6 col-center">
            @if (Model.Success)
            {
                <div class="alert alert-success">
                    <strong>Success!</strong> Role successfully updated
                </div>
            }
            <h2>@ViewData["Title"]</h2>
            <form method="post">

                <div class="form-group">
                    <label asp-for="Name"></label>
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger" placeholder="Role name"></span>
                </div>

                <div asp-validation-summary="All" class="text-danger"></div>

                <button type="submit" class="btn btn-primary">Save</button>


            </form>
        </div>
    </div>
</div>


@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
