﻿@model MVC.ViewModels.RoleViewModels.RoleListViewModel
<script>
    $(document).ready(function () {
        $('.delete').on('click', function (e) {


            var name = $(this).attr("value");

            alert(name);

            var validated = true;
            e.preventDefault();
            bootbox.confirm({
                message: "Are you sure you want to delete?",
                title: "Delete",
                buttons: {
                    cancel: {
                        label: "Cancel",
                        className: "btn btn-danger"
                    },
                    confirm: {
                        label: "Continue",
                        className: "btn btn-primary"
                    }
                },
                callback: function (result) {
                    if (result === true) {
                        validated = false;
                        if (!validated) {
                            $.ajax({
                                url: '/Role/Delete',
                                data: { 'name': name },
                                type: "GET",
                                cache: false,
                                success: function () {
                                    console.log(name);
                                    $("#result").html('<div class="alert alert-success" id="result"><strong>Success!</strong> Role successfully deleted!</div>');

                                    window.setTimeout(function () {
                                        location.reload();
                                    }, 3000);
                                },

                                error: function (xhr, ajaxOptions, thrownError) {

                                }
                            });
                        }
                    }
                }


            });
        });
    });
</script>
@if (Model.Roles.Count() == 0)
{

    <div class="col-md-6 col-center">
        <h1>Roles</h1>
        <div class="row">
            <div class="col-md-12 form-group">
                <a asp-action="Add" class="btn btn-primary pull-right">Add</a>
            </div>
        </div>
        <div class="panel panel-danger">
            <div class="panel-heading">Roles</div>
            <div class="panel-body">There are current no services added, please add at least one</div>
        </div>

    </div>
}
else
{
    <div class="row">
        <div class="col-md-6 col-center">
            <h1>Roles</h1>


            <div class="row  form-group">
                <div class="col-md-12">
                    <div class="pull-right">
                        <a asp-action="Add" class="btn btn-primary">Add</a>
                    </div>
                </div>
            </div>

            <div id="result">

            </div>


            <div class="">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Name</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.Roles)
                        {

                            <tr>
                                <td>
                                    <a asp-action="Edit" asp-route-id="@item.Id"> @Html.DisplayFor(modelItem => item.Name)</a>
                                </td>
                                <td>
                                    <a class="glyphicon glyphicon-edit" asp-action="Edit" asp-route-id="@item.Id"> </a>
                                </td>
                                <td>
                                    <a class="glyphicon glyphicon-trash delete" asp-action="Delete" asp-route-id="@item.Id" value="@item.Name"> </a>
                                </td>
                            </tr>
                        }

                    </tbody>
                </table>
            </div>


        </div>
    </div>
}
