﻿<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a asp-area="" asp-controller="Home" asp-action="Index" class="navbar-brand">Doctors</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a asp-area="" asp-controller="User" asp-action="Index">Users</a></li>
                <li><a asp-area="" asp-controller="Role" asp-action="Index">Roles</a></li>
                <li><a asp-area="" asp-controller="UserRole" asp-action="Index">User Roles</a></li>
                <li><a asp-area="" asp-controller="Doctor" asp-action="Index">Doctors</a></li>
                <li><a asp-area="" asp-controller="Patient" asp-action="Index">Patients</a></li>
                <li><a asp-area="" asp-controller="Appointment" asp-action="Index">Appointments</a></li>
                <li><a asp-area="" asp-controller="User" asp-action="AssignPatientToDoctor">Assign Patients</a></li>
            </ul>
            @await Html.PartialAsync("_LoginPartial")
        </div>
    </div>
</nav>
<div class="container body-content">